{% comment %}
  Unified publications entry renderer for both formats
{% endcomment %}

{%- assign has_equal_contrib = false -%}
{%- for entry in entries -%}
  {%- if entry.authors and entry.authors.size > 0 -%}
    {%- for a in entry.authors -%}
      {%- if a contains '*' or a contains '∗' -%}
        {%- assign has_equal_contrib = true -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}

{% if has_equal_contrib %}
  <p class="card-text font-weight-light mb-2"><em>* Equal contribution</em></p>
{% endif %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        {% capture pub_date %}
          {% if entry.releaseDate %}{{ entry.releaseDate }}{% elsif entry.date %}{{ entry.date }}{% endif %}
        {% endcapture %}

        {% if pub_date != '' %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{- pub_date | split: '-' | slice: 0, 1 | join: '' -}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}">{{ entry.title | default: entry.name }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.title }}</h6>
            {% endif %}

            {% if entry.publisher %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">
                <em>{{ entry.publisher }}</em>
              </h6>
            {% endif %}

            {% if entry.authors %}
              {% assign author_str = entry.authors | join: ', ' %}
              {% assign author_str = author_str | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' %}
              <p class="ml-1 ml-md-4 mb-1" style="font-size: 0.95rem">{{ author_str }}</p>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12">
            {% if entry.url %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}">{{ entry.title | default: entry.name }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.title }}</h6>
            {% endif %}

            {% if entry.publisher %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">
                <em>{{ entry.publisher }}</em>
              </h6>
            {% endif %}

            {% if entry.authors %}
              {% assign author_str = entry.authors | join: ', ' %}
              {% assign author_str = author_str | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' %}
              <p class="ml-1 ml-md-4 mb-1" style="font-size: 0.95rem">{{ author_str }}</p>
            {% endif %}

            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
